@import 'all.min.css', 'normalize.css';

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */

/* Start Variables */
:root {
  --main-color: #00acb1;
  --second-color: #f4f4f4 ;
  --third-color: #000;
  --section-padding: 100px;
}
/* End Variables */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {scroll-behavior: smooth}
body {font-family: 'Roboto', sans-serif}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto
}
/* Small - Medium - Large */
@media (min-width: 768px) {
  .container {width: 750px}
}
@media (min-width: 992px) {
  .container {width: 970px}
} 
@media (min-width: 1200px) {
  .container {width: 1170px}
}
ul, ol {
  list-style: none;
}
ul li, ol li {
  display: inline-block;
}
a {text-decoration: none}
.white-style {
  // background-color: var(--second-color);
  background-color: #FFF;
  overflow: hidden;
  a {
    color: var(--third-color);
  }
  header {
    background-color: #ffffffb3;
    .nav-button {
      background-color: var(--third-color);
    }
  }
}
.black-style {
  background-color: var(--third-color);
  color: var(--second-color);
  overflow: hidden;
  a {
    color: var(--second-color);
  }
  header {
    background-color: #0000007d;
    .nav-button {
      background-color: var(--second-color);
      color: var(--third-color);
    }
  }
}
.logo {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
  position: relative;
  margin-right: 40px;
  span {
    color: var(--main-color);
  }
}
.nav-button {
  border-radius: 5px;
}
.get-started {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 5px;
  padding: 8px 20px;
}
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.main-title {
  font-size: 35px;
  margin-bottom: 40px;
}
.chevron {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
/* End Global Rules */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */

/* Start Header */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    min-height: 97px;
  }
  .logo::after {
    content: "beta";
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    bottom: -8px;
    right: -25px;
  }
  nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    .toggle-menu {
      display: none;
      font-size: 23px;
    }
    ul li a {
      padding: 8px 20px;
      font-weight: bold;
      display: block;
      font-size: 14px;
    }
  }
  .user {
    display: flex;
    flex: 1 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    img {
      width: 25px;
      border-radius: 50%;
      margin-left: 5px;
    }
    .info {
      text-align: right;
      font-size: 9px;
      h3 {
        font-weight: normal;
      }
      p {
        color: #888;
      }
    }
  }
}
@media (max-width: 570px) {
  header {
    nav {
      .toggle-menu {display: block}
      ul {
        display: none;
        position: absolute;
        width: 100%;
        top: 85px;
        left: 0;
        border-top: 1px solid #EEE;
        li {
          display: block;
          text-align: center;
          a {
            background-color: #0000007d;
            padding: 10px 10px;
            padding: 15px 15px;
            transition: all .3s ease-in-out;
          }
          a:hover {
            background-color: #cfcfcf;
            color: #000;
          }
        }
        li:not(:last-child) {
          border-bottom: 1px solid #EEE;
        }
        .nav-button {
          border-radius: 0;
        }
      }
    }
  }
}
/* End Header */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */

/* Start Landing */
.landing {
  min-height: 100vh;
  position: relative;
  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    h2 {
      text-transform: uppercase;
      color: var(--main-color);
      font-size: 14px;
    }
    h3 {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.3;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
      font-size: 19px;
      margin-bottom: 40px;
    }
  }
  img {
    position: absolute;
    width: 700px;
    top: 50%;
    right: -203px;
    transform: translateY(-25%);
    border: 25px solid #292929;
    border-radius: 25px;
  }
}
@media (max-width: 570px) {
  .landing img {
    display: none;
  }
}
/* End Landing */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */

/* Start Posts */
.posts {
  .container > h2 {
    display: flex;
    align-items: center;
    .chevron {
      margin-left: 100px;
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  .filter {
    padding-top: var(--section-padding);
    h2 {
      font-weight: 900;
      line-height: 1.5;
    }
    p {
      margin-bottom: 50px;
    }
    h2, p {
      font-size: 20px;
      text-align: center;
    }
    .control {
      margin-bottom: 20px;
      input:first-child {
        width: 250px;
      }
      input {
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #999;
        color: #222;
        font-size: 15px;
        width: 180px;
        outline: none;
      }
    }
  }
}
.post {
  background-color: #FFF;
  color: #111 !important;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #EEE;
  .img {
    width: 100%;
  }
  .cont {
    padding: 10px;
    h3 {
      margin-bottom: 10px;
      font-size: 13px;
      position: relative;
      span {
        color: #b7b7b7;
        position: absolute;
        right: 0;
      }
    }
    p {
      margin-bottom: 10px;
      font-size: 11px;
    }
    .progress {
      border: 1px solid var(--main-color);
      border-radius: 10px;
      width: 85%;
      height: 10px;
      position: relative;
      margin-bottom: 10px;
      text-align: left;
      span {
        position: absolute;
        height: 100%;
        border-radius: 10px;
        background-color: var(--main-color);
      }
    }
    .progress::after {
      content: "60%";
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      top: 50%;
      right: -36px;
      transform: translateY(-50%);
      color: var(--main-color);
      
    }
    .table {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 3px;
      grid-row-gap: 5px;
      font-size: 11px;
      padding-top: 10px;
      padding-bottom: 10px;
      .bold {
        margin-bottom: 10px;
      }
    }
    button {
      background-color: #eee;
      border: none;
      font-size: 12px;
      padding: 3px 25px;
      margin-right: 8px;
      border-radius: 3px;
    }
  }
}
.post:nth-child(odd)::after {
  content: "A";
}
.post:nth-child(even)::after {
  content: "B";
}
.post::after {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #FFF;
  color: #111;
  padding: 12px 10px;
  border-radius: 5px;
}
/* End Posts */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */  

/* Start Doers */
.doers {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .doer {
      background-color: #232326;
      width: 350px;
      padding: 20px 40px;
      border-radius: 5px;
      margin: 10px;
      q {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 18px;
        display: block;
      }
      .user {
        display: flex;
        img {
          border-radius: 50px;
          width: 40px;
          margin-right: 10px;
        }
        .info {
          font-size: 9px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            font-weight: normal;
          }
          p {
            color: #999;
          }
        }
      }
    }
  }
}
/* End Doers */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */  

/* Start Featured */
.featured {
  .leader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 200px;
      margin: 10px;
    }
  }
  .angles {
    display: flex;
    justify-content: center;
    .chevron {
      margin: 40px 10px; 
    }
  }
}
/* End Featured */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */  

/* Start Footer */
.footer {
  font-size: 12px;
  .crowd {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #555;
    padding-bottom: 40px;
    > div:nth-child(1) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 20px;
      .logo {
        margin-bottom: 10px;
      }
      p {
        text-transform: uppercase;
      }
    }
    > div:nth-child(2) {
      flex: 1;
      display: flex;
      justify-content: center;
      > div {
        margin-right: 60px;
        h3 {
          margin-bottom: 20px;
        }
        a {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
    > div:nth-child(1) div {
      margin-right: 40px;
      margin-bottom: 10px;
      display: inline-block;
    }
    .lang select {
      border: none;
    }
  }
}
.black-style .footer .lang select {
  background-color: #000;
  color: #EEE;
}
@media (max-width: 1000px) {
  .footer .crowd > div:nth-child(1) {
    margin-bottom: 50px;
  }
}
/* End Footer */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */  

/* Start PostsTitle */
.PostsTitle {
  .anchors {
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 30px;
    .angle {
      color: var(--main-color);
      margin: 0 10px;
    }
    > span {
      font-weight: 500;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    .invest {
      img {
        width: 120px;
        height: 90px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 23px;
        line-height: 1.5;
      }
      p {
        font-size: 20px;
        font-weight: bold;
        color: #555;
      }
      .button-style-1 {
        background-color: #eee;
        border: none;
        font-size: 15px;
        padding: 5px 25px;
        margin-right: 8px;
        border-radius: 5px;
        color: #555;
        margin-top: 20px;
      }
      .social {
        margin: 18px 8px;
        color: #242424;
        font-size: 15px;
        i {
          margin-right: 10px;
        }
      }
      .button-style-2 {
        background-color: var(--main-color);
        color: #FFF;
        padding: 5px 30px;
        border-radius: 20px;
        border: 1px solid #EEE;
        cursor: pointer;
      }
      .button-style-2:hover {
        background-color: #6dcccf;
      }
    }
    .tabs {
      margin-top: 10px;
      margin-top: 20px;
      border-bottom: 1px solid #5555;
      li {
        cursor: pointer;
        padding: 8px 0;
        margin-right: 50px;
        font-weight: bold;
        margin-bottom: -2px;
      }
      .active {
          border-bottom: 3px solid #000;
      }
    }
    .company {
      h3 {
        margin-top: 25px;
        font-size: 15px;
      }
      p {
        color: #8b8b8b;
        width: 450px;
        max-width: 100%;
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 0;
      }
      .size p {
        color: #000;
      }
      .business img {
        width: 300px;
        margin: 10px 0;
      }
      .count {
        display: inline-block;
        width: 200px;
        span {
          display: block;
        }
        .num {
          font-weight: bold;
          font-size: 23px;
          margin: 10px 0;
        }
        .text-count {
          font-size: 14px;
        }
      }
      .graph {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        div {
          width: 300px;
          max-width: 100%;
          margin-right: 50px;
          img {
            width: 100%;
            max-width: 100%;
          }
          p {
            text-align: center;
            color: #000;
          }
        }
      }
      .clients, .teams {
        width: fit-content;
        margin-top: 40px;
        margin-bottom: 40px;
        h3 {
          margin-bottom: 20px;
        }
        .client, .team {
          display: inline-block;
          width: 200px;
          text-align: center;
          font-size: 14px;
          color: #111;
          img {
            width: 130px;
            margin-bottom: 20px;
          }
      }
      }
    }
    .advertisement {
      text-align: center;
      .post {
        margin-bottom: 20px;
      }
      > .img {
        width: 220px;
        max-width: 100%;
        margin: 10px auto;
      }
    }
  }
}
@media (max-width: 1000px) {
  .PostsTitle .content {
    display: block;
    .company  {
      .clients .client, 
      .teams .client, 
      .teams .team {
        width: 170px;
      }
      .count {
        width: 170px;
      }
    }
  }
  .advertisement {
    display: none;
  }
}
/* End PostsTitle */

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */  

/* Start Investment */
.investment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: none;
  justify-content: center;
  align-items: center;
  #box-0001, #box-0002, #box-0003 {
    display: none;
  }
  #box-0003 .content {
    max-width: 350px;
    margin: auto;
  }
  .investment-box {
    background-color: #FFF;
    border: 2px solid #EEE;
    padding: 60px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 1px #ccc;
    position: relative;
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 18px;
      cursor: pointer;
    }
    .content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      font-size: 13px;
      > h2 {
        grid-column: 2/4;
        font-size: 20px;
      }
      .steps {
        padding: 20px;
        position: relative;
        p {
          position: relative;
          margin-bottom: 25px;
        }
        p::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #FFF;
          border: 1px solid #000;
          border-radius: 50%;
          left: -30px;
          top: 1px
        }
        p.bold::before {
          background-color: #000;
        }
      }
      .steps::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 40px;
        background-color: #000;
        left: -5px;
        top: 26px;
      }
      .post-summary {
        h3 {
          text-align: center;
          margin-bottom: 10px;
        }
        background-color: #f4f4f4;
        padding: 30px 40px;
        font-size: 12px;
        line-height: 2;
        border-radius: 15px;
        box-shadow: 0px 3px 5px 1px #ccc;
        margin-left: 35px;
      }
      .request {
        .balance {
          line-height: 1.5;
          margin-bottom: 10px;
        }
        .range-wrap {
          position: relative;
        }
        input[type="range"] {
          -webkit-appearance: none;
          margin: 40px 0 60px;
          width: 100%;
          height: 4px;
          background-color: #AAA;
          border-radius: 5px;
          background-image: linear-gradient(#000, #000);
          background-size: 0% 100%;
          background-repeat: no-repeat;
          position: relative;
        }
        input[type="range"]::before {
          content: "500 EGP";
          position: absolute;
          left: 0px;
          top: 20px;
        }
        input[type="range"]::after {
          content: "100K EGP";
          position: absolute;
          right: 0px;
          top: 20px;
        }
        input[type=range]:focus {
          outline: none;
        }
        /* Input Thumb */
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 6px;
          border-radius: 5px;
          background: #AAA;
          cursor: pointer;
        }
        input[type="range"]::-moz-range-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 6px;
          border-radius: 5px;
          background: #AAA;
          cursor: pointer;
        }
        input[type="range"]::-ms-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 6px;
          border-radius: 5px;
          background: #AAA;
          cursor: pointer;
        }
        input[type="range"]::-webkit-slider-thumb:hover {background: #111}
        input[type="range"]::-moz-range-thumb:hover {background: #111}
        input[type="range"]::-ms-thumb:hover {background: #111}
        /* Input Track */
        input[type=range]::-webkit-slider-runnable-track  {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: transparent; 
        }
        input[type=range]::-moz-range-track {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: transparent
        }
        input[type="range"]::-ms-track {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: transparent
        }
        .output {
          width: fit-content;
          background: #222;
          color: white;
          padding: 4px 12px;
          position: absolute;
          border-radius: 4px;
          left: 0px;
          top: 75px;
          transform: translateX(calc(-50%));
        }
        .output::after {
          content: "";
          position: absolute;
          top: -16px;
          left: 50%;
          border: 8px solid #222;
          border-color: transparent transparent #222 transparent;
          transform: translateX(-50%);
        }
        .roi {
          line-height: 2;
          margin-bottom: 20px;
        }
        .risk h3 {margin-bottom: 10px}
        .terms {
          margin: 30px 0 10px;
          .form-control {
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0 10px;
            margin-bottom: 10px;
          }
          .form-control--disabled {
            color: var(--form-control-disabled);
            cursor: not-allowed;
          }
          input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--form-background);
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
          }
          input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            background-color: CanvasText;
          }
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
          input[type="checkbox"]:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }
          input[type="checkbox"]:disabled {
            --form-control-color: var(--form-control-disabled);
            color: var(--form-control-disabled);
            cursor: not-allowed;
          }
        }
      }
    }
    .successfully {
      margin-bottom: 20px;
      line-height: 1.5;
      a {
        color: #111;
        border-bottom: 1px solid #111;
      }
    }
    .form {
      margin: 10px 0;
      input, label {
        display: block;
        width: 100%;
      }
      label {
        margin-bottom: 5px;
      }
      input {
        padding: 8px 15px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #999;
        margin-bottom: 15px;
      }
    }
    .btn-request {
      text-align: center;
      margin-top: 30px;
      button { 
        padding: 6px 20px;
        border: none;
        margin-right: 10px;
        border-radius: 4px;
        font-weight: 900;
        background-color: transparent;  
        font-size: 13px;    
        cursor: pointer;
      }
      .next {
        background-color: var(--main-color);
        color: #FFF;
        padding: 6px 40px;
      }
      .next:hover, .next:disabled {
        background-color: #84adaf;
      }
      .next:disabled {
        cursor: context-menu;
      }
    }
  }
}
@media (max-width: 1000px) {
  .investment .investment-box .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    font-size: 13px;
    h2 {
      grid-column: 1/3;
      text-align: center;
    }
    .steps {
      grid-column: 2 span;
      p {
        display: inline-block;
        margin-right: 55px;
        margin-bottom: 0;
      }
    }
    .steps::before {
      width: 125px;
      height: 1px;
      background-color: #CCC;
    }
    .post-summary {
      margin: 0;
    }
  }
}
/* End Investment */